.titulo-barra {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8b4b4b; /* Preto */
    color: #0c0000;
    padding: 1rem;
    border-radius: 12px;
    margin: 2rem auto;
    max-width: 600px;
}

.titulo-barra span {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #f06e00; /* Laranja rústico */
}

.container {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}